<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--    用于扫描约定路径下所有的类，把包含@Component的类进行实例化 -->
    <context:component-scan base-package="test.aop"></context:component-scan>
    <context:component-scan base-package="manager"></context:component-scan>
    <context:component-scan base-package="test.bean"></context:component-scan>
    <!--    在上述扫描的基础上，如果有一个@Aspect的类，则会产生代理类 -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

    <bean id="phone" name="shouji" class="test.bean.Phone">
        <property name="brand" value="Apple"/>
        <property name="price" value="10000"/>
    </bean>

    <bean class="test.bean.TestBeanPostProcessor" id="testBeanFactoryPostProcessor">
        <constructor-arg name="name" value="XIONG "></constructor-arg>
    </bean>
</beans>
